[submodule "terseus"]
	path = terseus
	url = https://github.com/JoachimTislov/terseus.git
[submodule "refViz"]
	path = refViz
	url = https://github.com/JoachimTislov/RefViz.git
[submodule "php-api-server"]
	path = php-api-server
	url = https://github.com/JoachimTislov/php-api-server.git
	branch = vibe
